*::-webkit-scrollbar-thumb {
  transition: background-color 0.4s ease;
  width: 1rem;
  background-color: rgb(173, 173, 173);
  border-radius: 2em;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163, 163, 163);
}

*::-webkit-scrollbar {
  width: 0.8em;
  background-color: #eeeef0;
}
